In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
df = pd.read_csv('./data/wages.csv')
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

## 1. describe

* numeric type으로 특정 통계 자료들을 뽑아준다

In [7]:
# describe
df.describe()

                earn       height           ed          age
count    1379.000000  1379.000000  1379.000000  1379.000000
mean    32446.292622    66.592640    13.354605    45.328499
std     31257.070006     3.818108     2.438741    15.789715
min       -98.580489    57.340000     3.000000    22.000000
25%     10538.790721    63.720000    12.000000    33.000000
50%     26877.870178    66.050000    13.000000    42.000000
75%     44506.215336    69.315000    15.000000    55.000000
max    317949.127955    77.210000    18.000000    95.000000

## 2. unique

* series data의 유일한 값을 list로 반환한다

In [4]:
df.race.unique()

array(['white', 'other', 'hispanic', 'black'], dtype=object)

In [5]:
np.array(dict(enumerate(df["race"].unique())))

array({0: 'white', 1: 'other', 2: 'hispanic', 3: 'black'}, dtype=object)

In [18]:
unique_dict = np.array(dict(enumerate(df["race"].unique()))).tolist()
key = list(unique_dict.keys())
value = list(unique_dict.values())

key, value

([0, 1, 2, 3], ['white', 'other', 'hispanic', 'black'])